/*/ navigation/*/
.navbar{
	background-image: url("IMAGES/about us 1.jpg");
	background-size: cover;
	margin:0;
	background-color: #f7d851;
}

/*/ navbar /*/
h1 {
	font-size:35px;
	color: white;
	color: white;
	padding:2em 1em 0em 2em;
	background-color:
	text-align: left;
}

.h22{
	font-family: Trebuchet MS, sans-serif;
	font-size: 45px;
	margin-bottom: 0;
	clear: left;
	margin-left: 1em;
	margin-top: 6em;
}

.h21{
	font-family: Trebuchet MS, sans-serif;
	margin-top:75px;
	margin-bottom: 30px;
	margin-right: 1em;
	float: right;
	font-size: 100px;
}
.logo{
	float:right;
}
section{
	width: 220px;
	margin:25px;
	color:#075282;
	float:right;
}

ul {
	clear: left;
	list-style-type: none;
	margin: 1px;
	padding: 1em;
	overflow: hidden;
	background-color: #f7d851;
}

li{
	display: inline;
}
li a{
	display: inline;
	padding: 8px;
	background-color:#f7d851;
	text-decoration:none;
}

a:hover{
	background-color: white;

}
#link{
	color:#075282;
}

body {
	background-color: lightblue;
	font-family:  Tahoma, sans-serif;
}
/*/ images/*/
.images{
	margin: 2em;
	display: block;
}

.images2{
	margin: 2em;
	float: left;
}
.imgronaldo{
	
	float: left;
}

div.images:hover{
	transform: scale(1.1);
}
	


/*/ paragraphs/*/
p {
	background-color:#ffffff;
	margin-left: 12em;
	margin-right: 12em;
	clear:right;
	border: 2px solid;
	padding: 30px;
	font-family: verdana;
	text-align: justify;
}

.p2{
	margin-left: 670px;
	width: 1000px;
	font-size: 25px
}

.p3{
	width: 1345px;
	margin-top: 5em;
	margin-left: 200px;
}
#footer{
	clear:left;
	color: white;
	display: block;
	text-align: center;
	padding: 1em;
	margin-top: 6em;
	background-color:#075282;
}	
